<section>
    <h3>Formación</h3>
        <ul>
            <li>
                <time>2023</time>
                <h4>Master de Profesorado. Especialidad de Ciencias Experimentales</h4>
                <p>Facultad de Biología | Universidad de Vigo</p>
            <li>
                <time>2021</time>
                <h4>Grado en Geología</h4>
                <p>Facultad de Geología | Universidad de Oviedo</p>
            </li>
        </ul>
</section>