<section>
    <h3>Experiencia laboral</h3>
        <ul>
            <li>
                <time>2020</time>
                <h4>Facultad de Geología, Universidad de Oviedo</h4>
                <p>Beca de Colaboración. Tratamiento de datos y trabajo de laboratorio.</p>
            </li>
            <li>
                <time>2019</time>
                <h4>Soluciones y Proyectos de Información SL.</h4>
                <p>Prácticas. Uso del programa de tratamiento de datos geográficos QGIS y Excel.</p>
            </li>
        </ul>
</section>