---
import MainLayout from "../layouts/MainLayout.astro";
---


<MainLayout titulo="Contacto" descripcion="Soy Lucía, contacta conmigo: lreydom.appventurers@gmail.com">
	<h2>Página de contacto</h2>

	<form action="">
		<fieldset class="form">
			<legend>Contacta conmigo!</legend>
			<label>Nombre:<input type="text" class="name" name="name" required></label>
			<label><input type="email" class="email" name="email" placeholder="lreydom.appventures@gmail.com" required>Email:</label>
			<textarea name="message" id="message" cols="30" rows="10" placeholder="Escribe aquí tu mensaje"></textarea>
		</fieldset>
		<button type="button">Enviar</button>
	</form>
</MainLayout>