---
import Aside from "../components/sections/Aside.astro";
import Education from "../components/sections/Education.astro";
import Experience from "../components/sections/Experience.astro";
import MainLayout from "../layouts/MainLayout.astro";

---
<MainLayout titulo="Portafolio de Lucía" >
	<h2>Lucía Rey Domínguez</h2>

	<Aside />

	<Education />
	
	<Experience />

</MainLayout>

<style>
	

</style>